/* header */
#gb {
	-webkit-app-region: drag;
}

/* hamburger container */
.gb_ed {
	min-width: unset !important;
	margin-left: 75px !important;
	padding-right: 0 !important;
}

/* hamburger */
.gb_Mc {
	-webkit-app-region: no-drag;
}

/* logo */
.gb_Ec {
	display: none !important;
}

/* search form container */
.gb_He {
	padding-left: 5px !important;
}

/* search form */
.gb_2d {
	max-width: unset !important;
	-webkit-app-region: no-drag;
}

/* online status */
.Yb {
	-webkit-app-region: no-drag;
}

/* support */
.zo {
	-webkit-app-region: no-drag;
}

/* settings */
.FI {
	-webkit-app-region: no-drag;
}

/* apps, profile */
.gb_g {
	-webkit-app-region: no-drag;
}
